= javascript_include_tag "https://checkout.stripe.com/checkout.js"

#effective-orders-new-charge-form{:data => {'stripe-publishable-key' => EffectiveOrders.stripe[:publishable_key], 'site-title' => EffectiveOrders.stripe[:site_title], 'site-image' => EffectiveOrders.stripe[:site_image], 'user-email' => current_user.try(:email), 'amount' => (@order.total * 100), 'description' => "#{@order.num_items} items (#{number_to_currency(@order.total)})"}}
  = simple_form_for @stripe_charge || Effective::StripeCharge.new(@order), :url => effective_orders.stripe_charges_path, :html => {:class => 'form-horizontal' } do |f|
    = f.input :effective_order_id, :as => :hidden
    = f.input :token, :as => :hidden
    = f.submit 'Checkout with Stripe', :class => 'btn btn-primary'

