.card
  .card-body
    %h2 Save Card Info

    %p 
      = succeed('.') do
        - distance = distance_of_time_in_words(Time.zone.now, order.delayed_payment_date)

        The payment date for this order

        - if order.delayed_payment_date_future?
          is in #{distance} from now on #{order.delayed_payment_date.strftime('%F')}
        - elsif order.delayed_payment_date_today?
          was today
        - else
          was #{distance} ago on #{order.delayed_payment_date.strftime('%F')}

    %p
      Instead of charging your card right away, the following action will securely save a token
      representing your card information. The full amount will be charged on the payment date.

    - provider_locals = { order: order, deferred_url: deferred_url, declined_url: declined_url }

    - EffectiveOrders.delayed_providers.each do |provider|
      = render partial: "/effective/orders/#{provider}/form", locals: provider_locals
