.card
  .card-body
    %h2 Checkout Offline

    %p
      = succeed('.') do
        Please indicate that you would like to pay by
        = EffectiveOrders.deferred_providers.to_sentence(last_word_connector: ', or', two_words_connector: ' or ')

    %p Your order will not be considered purchased until we receive your payment.

    - provider_locals = { order: order, deferred_url: deferred_url, declined_url: declined_url }

    .d-flex.justify-content-around
      - EffectiveOrders.deferred_providers.map(&:to_sym).each do |provider|
        - if (restriction = EffectiveOrders.payment_restriction(provider, order))
          .alert.alert-warning.mx-2 #{order_checkout_label(provider)} #{restriction}
        - else
          = render partial: "/effective/orders/#{provider}/form", locals: provider_locals
