= form_tag(EffectiveOrders.moneris[:hpp_url], method: :post) do
  - moneris = Effective::Providers::MonerisCharge.new(order: order, purchased_url: purchased_url, declined_url: declined_url)

  = hidden_field_tag :hpp_preload, ''
  = hidden_field_tag :hpp_id, moneris.hpp_id
  = hidden_field_tag :ticket, moneris.ticket

  = submit_tag order_checkout_label(:moneris), class: 'btn btn-primary', data: { disable_with: 'Continuing...' }
