.effective-order
  %table.table
    %thead
      %tr
        %th.quantity Qty
        %th.item Item
        %th.price Price
    %tbody
      - cart.cart_items.each do |item|
        %tr
          %td.quantity
            = item.quantity
          %td.item
            = item.title.html_safe
            = ' - '
            = link_to_remove_from_cart(item)
          %td.price
            = price_to_currency(item.subtotal)
      - if cart.empty?
        %tr
          %td.quantity
          %td.item There are no items in your shopping cart
          %td.price
    %tfoot
      - if cart.tax > 0
        %tr
          %th.quantity
          %th.subtotal Subtotal
          %td.price.subtotal-price= price_to_currency(cart.subtotal)
        %tr
          %th.quantity
          %th.tax Tax
          %td.price.tax-price= price_to_currency(cart.tax)
      %tr
        %th.quantity
        %th.total Total Due
        %td.price.total-price= price_to_currency(cart.total)
