%h2 Shopping Cart

- if cart.empty?
  %p Your cart is empty.

  %hr
  = link_to 'Home', root_url, :class => 'btn'
  = link_to 'Order History', effective_orders.my_purchases_path, :class => 'btn'

- else
%p Your cart has #{cart.cart_items.length} items.
.effective-order
  %table.table
    %thead
      %tr
        %th.quantity Quantity
        %th Item
        %th.price Price
        %th.actions
    %tbody
      - cart.cart_items.each do |item|
        %tr
          %td.quantity= item.quantity
          %td= item.title
          %td.price= number_to_currency(item.subtotal)
          %td.actions= link_to_remove_from_cart(item)
    %tfoot
      %tr
        %th{:colspan => 2} Subtotal
        %td.price= number_to_currency(cart.subtotal)
        %td.actions
      %tr
        %th{:colspan => 2} Tax
        %td.price= number_to_currency(cart.tax)
        %td.actions
      %tr
        %th{:colspan => 2} Total Due
        %td.price= number_to_currency(cart.total)
        %td.actions

  %hr
  = link_to_checkout :class => 'btn btn-primary pull-right'
  = link_to_empty_cart
  = link_to 'Order History', effective_orders.my_purchases_path, :class => 'btn'
