.effective-order
  %table.table
    %thead
      %tr
        %th.quantity Quantity
        %th.item Item
        %th.price Price
    %tbody
      - cart.cart_items.each do |item|
        %tr
          %td.quantity
            = item.quantity
          %td.item
            = item.title.html_safe
            = ' - '
            = link_to_remove_from_cart(item)
          %td.price
            = price_to_currency(item.subtotal)
      - if cart.empty?
        %tr
          %td.quantity
          %td.item There are no items in your shopping cart
          %td.price
    %tfoot
      %tr
        %th{:colspan => 2} Subtotal
        %td.price= price_to_currency(cart.subtotal)
      %tr
        %th{:colspan => 2} Tax
        %td.price= price_to_currency(cart.tax)
      %tr
        %th{:colspan => 2} Total Due
        %td.price= price_to_currency(cart.total)
