%h3 Shopping Cart

- if cart.empty?
  %p Your cart is empty.

  %h4= link_to 'Home', root_url, :class => 'btn'

- else
  %table.table
    %tfoot
      %tr
        %td Subtotal:
        %td= number_to_currency(cart.subtotal)
        %td
      %tr
        %td Tax:
        %td= number_to_currency(cart.tax)
        %td
      %tr
        %td Total (CAD$):
        %td= number_to_currency(cart.total)
        %td
    %tbody
      - cart.cart_items.each do |item|
        %tr
          %td
            - if item.quantity > 1
              = "#{item.quantity}x"
            = item.title
          %td= number_to_currency(item.price)
          %td= link_to 'Remove', EffectiveOrders::Engine.routes.url_helpers.remove_from_cart_path(item), :data => {:confirm => 'Are you sure? This cannot be undone!'}, :method => :delete

  %h4= link_to 'Proceed to Checkout', EffectiveOrders::Engine.routes.url_helpers.new_order_path, :class => 'btn pull-right'
  %h4= link_to 'Empty Cart', EffectiveOrders::Engine.routes.url_helpers.cart_path, :class => 'btn', :data => {:confirm => 'Are you sure? This cannot be undone!'}, :method => :delete
