%h1.effective-heading= @page_title

- if @cart.empty?
  %p No items in cart.
- else
  %p Your cart has #{@cart.cart_items.length} items.

  = render_cart(@cart)
  %hr
  = render partial: '/effective/carts/cart_actions', locals: { cart: @cart }

- if @pending_orders.present?
  %h2 Pending Orders
  = render_orders(@pending_orders)

- if EffectiveOrders.show_order_history_button
  = link_to_my_purchases(label: 'Order History')
