%h2.effective-orders-page-title= (@page_title || 'My Cart')

- if @cart.empty?
  %p Your cart is empty.
- else
  %p Your cart has #{@cart.cart_items.length} items.

  = render_cart(@cart)
  %hr
  = render partial: '/effective/carts/cart_actions', locals: { cart: @cart }

- if @pending_orders.present?
  %h3 Pending Orders
  %p The following orders are ready for you to purchase:
  = render_orders_table(@pending_orders)

- if EffectiveOrders.show_order_history_button
  = link_to_my_purchases(label: 'Order History')
