%h2 Shopping Cart

- if @cart.empty?
  %p Your cart is empty.

  %hr
  = link_to 'Home', root_url, :class => 'btn btn-primary'
  = link_to 'Order History', effective_orders.my_purchases_path, :class => 'btn btn-default'

- else
  %p Your cart has #{@cart.cart_items.length} items.

  = render_cart(@cart)

  %hr
  = link_to_checkout :class => 'btn btn-primary pull-right'
  = link_to_empty_cart
  = link_to 'Order History', effective_orders.my_purchases_path, :class => 'btn btn-default', :rel => :nofollow
