.panel.panel-default
  .panel-body
    %h2 Admin: Offline Payment

    = simple_form_for order, (EffectiveOrders.simple_form_options || {}).merge(url: effective_orders.mark_as_paid_order_path(order), method: :post) do |f|
      = f.input :payment_provider,
        as: :effective_select,
        collection: (EffectiveOrders.payment_providers + EffectiveOrders.other_payment_providers).sort,
        required: true

      = f.input :payment_card,
        label: 'Payment card type, cheque or transaction number',
        placeholder: 'visa',
        hint: 'Full credit card numbers should not be entered here, or anywhere.'

      = f.input :payment,
        as: :text,
        label: 'Additional details',
        input_html: { value: f.object.payment.kind_of?(Hash) ? f.object.payment[:details] : f.object.payment.presence }

      = f.input :send_mark_as_paid_email_to_buyer,
        as: :boolean,
        label: 'Yes, send a receipt email to the buyer.',
        value: (f.object.send_mark_as_paid_email_to_buyer.nil? ? EffectiveOrders.mailer[:send_order_receipts_when_mark_as_paid] : f.object.send_mark_as_paid_email_to_buyer?)

      = f.input :note_to_buyer, hint: 'This message will be displayed on the receipt.'

      .text-right
        = f.submit order_checkout_label(:mark_as_paid), class: 'btn btn-primary', data: { disable_with: 'Continuing...' }

