.card
  .card-body
    %h2
      Admin:
      = order.refund? ? 'Complete Refund' : 'Mark as Paid'

    = effective_form_with(model: order, url: effective_orders.mark_as_paid_order_path(order), method: :post) do |f|
      .row
        .col-6
          - collection = admin_mark_as_paid_payment_providers()
          = f.select :payment_provider, collection, required: true, grouped: collection.kind_of?(Hash)

          = f.text_field :payment_card,
            label: 'Payment card type, cheque, e-transfer or transaction number',
            hint: 'Do not enter credit card numbers here, or anywhere.'

          = f.datetime_field :purchased_at, label: 'Purchased or completed'

          = f.check_box :send_mark_as_paid_email_to_buyer,
            label: 'Yes, send a receipt email to the buyer.',
            input_html: { checked: (f.object.send_mark_as_paid_email_to_buyer.nil? ? EffectiveOrders.send_order_receipts_when_mark_as_paid : f.object.send_mark_as_paid_email_to_buyer?) }

      .row
        .col
          = f.text_area :note_to_buyer, hint: 'This message will be displayed to the buyer on the receipt.'
        .col
          = f.text_area :note_internal, hint: 'For or internal admin use only. This note will never be displayed to the buyer.'

      = f.submit(center: true) do
        = f.save(order.refund? ? 'Complete Refund' : 'Mark as Paid')
