= dropdown(variation: :dropleft) do
  - if datatable.admin_namespace?
    = dropdown_link_to 'View', effective_orders.admin_order_path(order)
    = dropdown_link_to 'Edit', effective_orders.edit_admin_order_path(order)
    - if order.purchased? == false
      = dropdown_link_to 'Checkout', effective_orders.admin_order_path(order)

  - else
    = dropdown_link_to 'View', effective_orders.order_path(order)
