= effective_form_with(model: [:admin, order], engine: true) do |f|
  = f.hidden_field :user_type, value: (f.object.user || current_user).class.name

  - collection = (@users || current_user.class.try(:sorted) || current_user.class.all)
  = f.select :user_id, collection, label: 'Buyer', required: true, hint: 'The user that should purchase this order.'

  = f.email_cc_field :cc, hint: "Cc the above on any emailed receipts or payment requests."

  %h2 Order Items
  = f.has_many :order_items do |fc|
    = render 'order_item_fields', f: fc

  - if f.object.new_record?
    %hr

    = f.check_box :send_payment_request_to_buyer,
      label: 'Yes, send a payment request email to the buyer and any cc.',
      value: (f.object.send_payment_request_to_buyer.nil? ? EffectiveOrders.send_payment_request_to_buyer : f.object.send_payment_request_to_buyer?)

  .row
    .col-md-6.effective-order-note-to-buyer
      %h2 Note to Buyer
      = f.text_area :note_to_buyer, disabled: f.object.purchased?, label: false,
        hint: (f.object.purchased? ? 'This message was displayed to the buyer during checkout and appears on the receipt.' : 'This message will be displayed to the buyer during checkout and will appear on the receipt.')

    .col-md-6.effective-order-internal-note
      %h2 Internal Note
      = f.text_area :note_internal, label: false,
        hint: 'For internal admin use only. This note will never be displayed to the buyer.'

  = render partial: '/admin/orders/order_actions', locals: { order: @order, form: f, f: f }
