= tabs do
  = tab(order) do
    - if order.custom_order? && order.in_progress?
      - if order.persisted?
        = collapse('show order') do
          = render 'effective/orders/order', order: order, no_order_actions: true

      = render 'admin/orders/form_order', order: order
    - else
      - # Order was already purchased. Display same as show action.
      = render 'effective/orders/order', order: order
      = render 'admin/orders/form_note_internal', order: order

  - if order.persisted? && order.respond_to?(:logs_datatable)
    = tab 'Logs' do
      .effective-order-admin-logs= render_inline_datatable(order.logs_datatable)
