.nested-fields.order-item
  .row
    = f.fields_for :purchasable, (f.object.purchasable || Effective::Product.new) do |purchasable|
      .col-sm-2= f.number_field :quantity, input_html: { value: f.object.quantity || 1, min: 1 }
      .col-sm-4= purchasable.text_field :title, maxlength: 255
      .col-sm-2= purchasable.price_field :price
      .col-sm-2= purchasable.check_box :tax_exempt, label: 'Tax Exempt', title: 'When checked, tax will not be applied to this item'
      .col-sm-2.remove-nested-fields= link_to_remove_association('Remove line item', f)
