.nested-fields.order-item
  .row
    - f.object.purchasable ||= Effective::Product.new
    = f.simple_fields_for :purchasable do |purchasable|
      .col-sm-2= f.input :quantity, input_html: { value: f.object.quantity || 1, min: 1 }
      .col-sm-4= purchasable.input :title, input_html: { maxlength: 255 }
      .col-sm-2= purchasable.input :price, as: :effective_price
      .col-sm-2= purchasable.input :tax_exempt, label: 'Tax Exempt', input_html: { title: 'When checked, tax will not be applied to this item' }
      .col-sm-2.remove-nested-fields= link_to_remove_association('Remove line item', f)
