= form.submit do
  = form.save 'Save', class: 'btn btn-primary'
  = form.save 'Duplicate', class: 'btn btn-primary'

  - unless form.object.purchased?
    = form.save 'Checkout', class: 'btn btn-success'

  = form.save 'Continue', class: 'btn btn-secondary'
  = form.save 'Add New', class: 'btn btn-secondary'
