= effective_save(form) do
  = form.save 'Save', class: 'btn btn-primary'
  = form.save 'Duplicate', class: 'btn btn-primary'
  = form.save 'Continue', class: 'btn btn-secondary'
  = form.save 'Add New', class: 'btn btn-secondary'
