%h1.effective-admin-heading= @page_title

= render 'effective/orders/order_actions', order: @order

- if @order.custom_order?
  .mb-4
    = collapse('show order') do
      = render 'effective/orders/order', order: @order, no_order_actions: true

  = render 'admin/orders/form', order: @order

- else
  = render 'effective/orders/order', order: @order
