%h1.effective-admin-heading= @page_title

- if @order.purchased?
  = render partial: 'effective/orders/order', locals: { order: @order }
  = render partial: 'admin/orders/form_note_internal', locals: { order: @order }
  = render partial: 'admin/orders/order_payment_details', locals: { order: @order }
- else
  = render_checkout_step2(@order, namespace: :admin)

/ - if (EffectiveOrders.authorized?(controller, :admin, :effective_orders) rescue false)
/   = render partial: 'admin/orders/form_note_internal', locals: { order: @order }
