- # Show this if I'm on the effective orders checkout screen. But not on a rendered order.
- if order.persisted? && order.user == current_user && request.path.to_s.start_with?(effective_orders.order_path(order))
  .effective-order-change-items
    = link_to 'Change Addresses', effective_orders.edit_order_path(order), rel: :nofollow

= render('/effective/orders/order', order: order, no_order_actions: true)

.effective-order-purchase-actions
  - provider_locals = { order: order, purchased_url: purchased_url, declined_url: declined_url, deferred_url: deferred_url }

  - if EffectiveOrders.free? && order.free?
    = render partial: '/effective/orders/free/form', locals: provider_locals

  - elsif EffectiveOrders.refund? && order.refund?
    = render partial: '/effective/orders/refund/form', locals: provider_locals

  - elsif EffectiveOrders.delayed? && order.delayed?
    = render partial: '/effective/orders/delayed/form', locals: provider_locals

  - else
    - if EffectiveOrders.pretend?
      = render partial: '/effective/orders/pretend/form', locals: provider_locals

    - if EffectiveOrders.deluxe?
      = render partial: '/effective/orders/deluxe/form', locals: provider_locals

    - if EffectiveOrders.moneris?
      = render partial: '/effective/orders/moneris/form', locals: provider_locals

    - if EffectiveOrders.moneris_checkout?
      = render partial: '/effective/orders/moneris_checkout/form', locals: provider_locals

    - if EffectiveOrders.paypal?
      = render partial: '/effective/orders/paypal/form', locals: provider_locals

    - if EffectiveOrders.stripe?
      = render partial: '/effective/orders/stripe/form', locals: provider_locals

    - if EffectiveOrders.deferred? && order.user == current_user && !local_assigns[:skip_deferred]
      %p.my-4.text-center - or -
      = render partial: '/effective/orders/deferred/form', locals: provider_locals

  - if EffectiveResources.authorized?(controller, :admin, :effective_orders) && order.user != current_user
    - if EffectiveOrders.mark_as_paid?
      .effective-order-admin-purchase-actions
        = render partial: '/effective/orders/mark_as_paid/form', locals: provider_locals
