= render order

- if EffectiveOrders.moneris_enabled
  = render :partial => '/effective/orders/moneris/form', :locals => {:order => order, :purchased_redirect_url => purchased_redirect_url, :declined_redirect_url => declined_redirect_url}

- if EffectiveOrders.paypal_enabled
  = render :partial => '/effective/orders/paypal/form', :locals => {:order => order}

- if EffectiveOrders.stripe_enabled
  = render :partial => '/effective/orders/stripe/form', :locals => {:order => order}

- unless Rails.env.production?
  = link_to 'Purchase for Pretend (development only)', effective_orders.pretend_purchase_path(order, :purchased_redirect_url => purchased_redirect_url), :class => 'btn btn-primary'
  = link_to 'Decline for Pretend (development only)', effective_orders.pretend_decline_path(order, :declined_redirect_url => declined_redirect_url), :class => 'btn btn-primary'
