= render partial: 'effective/orders/order', locals: { order: order }

.effective-order.effective-order-purchase-actions
  - if EffectiveOrders.free? && order.free?
    = render partial: '/effective/orders/free/form', locals: { order: order, purchased_url: purchased_url, declined_url: declined_url }

  - elsif EffectiveOrders.refunds? && order.refund?
    -# Nothing

  - else
    - if EffectiveOrders.pretend?
      = render partial: '/effective/orders/pretend/form', locals: { order: order, purchased_url: purchased_url, declined_url: declined_url }

    - if EffectiveOrders.moneris_enabled
      = render partial: '/effective/orders/moneris/form', locals: { order: order, purchased_url: purchased_url, declined_url: declined_url }

    - if EffectiveOrders.paypal_enabled
      = render partial: '/effective/orders/paypal/form', locals: { order: order, purchased_url: purchased_url, declined_url: declined_url }

    - if EffectiveOrders.stripe_enabled
      = render partial: '/effective/orders/stripe/form', locals: { order: order, purchased_url: purchased_url, declined_url: declined_url }

    - if EffectiveOrders.cheque_enabled && order.user == current_user
      = render partial: '/effective/orders/cheque/form', locals: { order: order, purchased_url: purchased_url, declined_url: declined_url }

  - if EffectiveOrders.pretend? && Rails.env.production? && EffectiveOrders.pretend_purchase_in_production_message.present?
    %br
    %p= EffectiveOrders.pretend_purchase_in_production_message

- if EffectiveOrders.authorized?(controller, :admin, :effective_orders) && order.user != current_user
  - if EffectiveOrders.refunds? && order.refund?
    .effective-order.effective-order-admin-purchase-actions
      = render partial: '/effective/orders/refund/form', locals: { order: order, purchased_url: purchased_url, declined_url: declined_url }
  - elsif EffectiveOrders.mark_as_paid?
    .effective-order.effective-order-admin-purchase-actions
      = render partial: '/effective/orders/mark_as_paid/form', locals: { order: order, purchased_url: purchased_url, declined_url: declined_url }

