= render order

.effective-order.effective-order-purchase-actions
  - if EffectiveOrders.allow_pretend_purchase_in_production
    = render :partial => '/effective/orders/pretend/form', locals: {label: 'Purchase Order', order: order, purchased_redirect_url: purchased_redirect_url, declined_redirect_url: declined_redirect_url}
    %p= EffectiveOrders.allow_pretend_purchase_in_production_message
  - elsif (Rails.env.development? || Rails.env.test?)
    = render :partial => '/effective/orders/pretend/form', locals: {label: 'Purchase Order (development only)', order: order, purchased_redirect_url: purchased_redirect_url, declined_redirect_url: declined_redirect_url}

  - if EffectiveOrders.moneris_enabled
    = render :partial => '/effective/orders/moneris/form', :locals => {:order => order, :purchased_redirect_url => purchased_redirect_url, :declined_redirect_url => declined_redirect_url}

  - if EffectiveOrders.paypal_enabled
    = render :partial => '/effective/orders/paypal/form', :locals => {:order => order}

  - if EffectiveOrders.stripe_enabled
    = render :partial => '/effective/orders/stripe/form', :locals => {:order => order}


