= dropdown(variation: :dropleft) do
  - if EffectiveResources.authorized?(controller, :checkout, order)
    = dropdown_link_to 'Checkout', effective_orders.order_path(order), 'data-turbolinks': false
  - else
    = dropdown_link_to 'Show', effective_orders.order_path(order)

  - if EffectiveResources.authorized?(controller, :send_order_email, order)
    = dropdown_link_to 'E-mail Receipt', effective_orders.send_order_email_order_path(order),
      data: { method: :post, confirm: "Send receipt to #{order.emails.first}?" }
