.effective-order-items
  %table.table
    %thead
      %tr
        %th.quantity Qty
        %th.item= order.order_items.length > 1 ? 'Items' : 'Item'
        %th.price Price

    %tbody
      - order.order_items.each do |item|
        %tr
          %td.quantity= item.quantity

          %td.item
            = item.name.html_safe

            - if order.purchased? && item.purchased_download_url.present?
              = link_to 'Download', item.purchased_download_url

          %td.price= price_to_currency(item.subtotal)

    %tfoot
      %tr
        %th.quantity
        %th.subtotal Subtotal
        %td.price.subtotal-price= price_to_currency(order.subtotal)

      - if order.tax_rate.present?
        %tr
          %th.quantity
          %th.tax Tax (#{rate_to_percentage(order.tax_rate)})
          %td.price.tax-price= price_to_currency(order.tax)

      - if order.surcharge_percent.present?
        %tr
          %th.quantity
          %th.surcharge Credit Card Surcharge (#{rate_to_percentage(order.surcharge_percent)})
          %td.price.surcharge-price= price_to_currency(order.surcharge)

      - # Only display order total if we know the tax. Otherwise we only display Subtotal until tax is known.
      - if order.tax_rate.present?
        %tr
          %th.quantity
          %th.total= order.total_label
          %td.price.total-price= price_to_currency(order.total)
