.effective-order-header
  %h3 Acme Industries Inc.
  .row
    .col-sm-6
      %p= mail_to EffectiveOrders.mailer[:admin_email] || 'info@acmeindustries.com'
      %p
        1234 Fake Street
        %br
        Edmonton, AB, T5H 4A5
        %br
        %small Customize me by overriding '/app/views/effective/orders/_order_header.html.haml'

    .col-sm-6
      - if order.purchased?
        %p Receipt: ##{order.to_param}
      - elsif order.persisted?
        %p Order: ##{order.to_param}

      - if order.purchased?
        %p Purchased at: #{order.purchased_at.strftime("%Y-%m-%d %H:%M")}
      - else
        %p Date: #{Time.zone.now.strftime("%Y-%m-%d %H:%M")}
