.effective-order-shipping
  %table.table
    %thead
      %tr
        %th= "#{order.purchased? ? 'Sold to' : 'Bill to'}"
        - if order.shipping_address.present?
          %th Ship to

    %tbody
      %tr
        %td
          %div= order.billing_name

          - if order.user.try(:membership).present?
            %div= "##{order.user.membership.number}"

          %div= mail_to(order.email)

          - if order.cc.present?
            %div
              Cc:
              - order.cc.split(',').each do |email|
                = mail_to(email)

          - if order.billing_address.present?
            = render('effective/addresses/address', address: order.billing_address)

        - if order.shipping_address.present?
          %td
            = render('effective/addresses/address', address: order.shipping_address)
