%table.table{:style => 'width: 600px;margin-bottom:25px;'}
  %thead
    %tr
      %th{:style => 'text-align: left;'}= "#{order.purchased? ? 'Sold to' : 'Bill to'}"
      - if EffectiveOrders.require_shipping_address && order.shipping_address.present?
        %th{:style => 'text-align: left;'} Ship to

  %tbody
    %tr
      %td{:style => 'text-align: left;'}
        - if EffectiveOrders.require_billing_address && order.billing_address.present?
          = render :partial => 'effective/addresses/address', :locals => {:address => order.billing_address, :email => order.user.email}
        - else
          = order.billing_name
          %br
          = mail_to(order.user.email)
          %br

      - if EffectiveOrders.require_shipping_address && order.shipping_address.present?
        %td{:style => 'text-align: left;'}
          = render :partial => 'effective/addresses/address', :locals => {:address => order.shipping_address}
