.effective-order
  - unless defined?(no_order_actions)
    = render partial: 'effective/orders/order_actions', locals: {order: order}

  = render partial: 'effective/orders/order_header', locals: {order: order}
  = render partial: 'effective/orders/order_shipping', locals: {order: order}
  = render partial: 'effective/orders/order_items', locals: {order: order}

  - if (EffectiveOrders.authorized?(controller, :manage, Effective::Order) rescue false)
    = render partial: 'effective/orders/order_payment_details', locals: {order: order}
