.effective-order-shipping
  %table.table
    %thead
      %tr
        %th= "#{order.purchased? ? 'Sold to' : 'Bill to'}"
        - if order.shipping_address.present?
          %th Ship to

    %tbody
      %tr
        %td
          - if order.billing_address.blank? || order.billing_address.full_name.blank?
            = order.billing_name
            %br

          - if order.billing_address.present?
            = render partial: 'effective/addresses/address', locals: { address: order.billing_address }
            %br

          = mail_to(order.email)

          - if order.cc.present?
            %br
            Cc:
            - order.cc.split(',').each do |email|
              = mail_to(email)

        - if order.shipping_address.present?
          %td
            = render partial: 'effective/addresses/address', locals: { address: order.shipping_address }
