.effective-order-items
  - present_order_items = order.order_items.reject(&:archived?)

  %table.table{style: "margin-bottom: 20px;"}
    %thead
      %tr
        %th.quantity Qty
        %th.item= present_order_items.length > 1 ? 'Items' : 'Item'
        %th.price Price

    %tbody
      - present_order_items.each do |item|
        %tr
          %td.quantity= item.quantity

          %td.item
            = item.name.html_safe

            - if item.purchasable.class.name == 'Effective::EventRegistrant'
              = item.purchasable.try(:responses) || item.purchasable.try(:notes)

            - if order.purchased? && item.purchased_download_url.present?
              = link_to 'Download', item.purchased_download_url

          %td.price= price_to_currency(item.subtotal)

    %tfoot
      %tr
        %td{colspan: 3}= "&nbsp;".html_safe

      %tr
        %th.subtotal{colspan: 2} Subtotal
        %td.price.subtotal-price= price_to_currency(order.subtotal)

      - if order.tax_rate.blank?
        -# Nothing to do. We can't display Tax, Total or Credit Card Surcharge (which is taxed) yet.

      - elsif order.tax_rate.present? && order.surcharge_percent.to_f > 0.0
        - # We're adding the surcharge. EffectiveOrders.surcharge? mode
        %tr
          %th.tax{colspan: 2} #{EffectiveOrders.tax_label} (#{rate_to_percentage(order.tax_rate)})
          %td.price.tax-price= price_to_currency(order.tax)

        %tr.single-line
          %th.amount-owing{colspan: 2} Amount owing before Credit Card Processing Fee
          %td.price.amount-owing-price= price_to_currency(order.amount_owing)

        %tr
          %th.surcharge{colspan: 2} Credit Card Processing Fee (#{rate_to_percentage(order.surcharge_percent)}) on #{price_to_currency(order.amount_owing)}
          %td.price.surcharge-price= price_to_currency(order.surcharge)

        %tr
          %th.surcharge-tax{colspan: 2} #{EffectiveOrders.tax_label} (#{rate_to_percentage(order.tax_rate)}) on Credit Card Processing Fee
          %td.price.surcharge-tax-price= price_to_currency(order.surcharge_tax)

        %tr.double-line
          %th.total{colspan: 2} Total amount charged to credit card
          %td.price.total-price= price_to_currency(order.total)

      - elsif order.tax_rate.present? && !(order.surcharge_percent.to_f > 0.0) && order.surcharge.to_i > 0
        - # The surcharge is being added by the payment processor. EffectiveOrders.fee_saver? mode
        %tr
          %th.tax{colspan: 2} #{EffectiveOrders.tax_label} (#{rate_to_percentage(order.tax_rate)})
          %td.price.tax-price= price_to_currency(order.tax)

        %tr.single-line
          %th.amount-owing{colspan: 2} Total
          %td.price.amount-owing-price= price_to_currency(order.amount_owing)

        %tr
          %th.surcharge{colspan: 2} Convenience fee
          %td.price.surcharge-price= price_to_currency(order.surcharge)

        %tr.double-line
          %th.total{colspan: 2} Credit card sale
          %td.price.total-price= price_to_currency(order.total)

      - elsif order.tax_rate.present? && !(order.surcharge_percent.to_f > 0.0)
        - # No surcharges
        %tr
          %th.tax{colspan: 2} #{EffectiveOrders.tax_label} (#{rate_to_percentage(order.tax_rate)})
          %td.price.tax-price= price_to_currency(order.tax)

        %tr.single-line
          %th.total{colspan: 2}= order.total_label
          %td.price.total-price= price_to_currency(order.total)
