.effective-order

  = render :partial => 'order_header', :locals => {:order => order}

  %table.table
    %thead
      %tr
        %th= "#{order.purchased? ? 'Sold To' : 'Bill To'}"
        - if order.shipping_address.present?
          %th Ship To
    %tbody
      %tr
        %td
          - if order.user.to_s.present?
            = "#{order.user.to_s} (#{mail_to order.user.email})".html_safe
          - else
            = mail_to order.user.email
          %br
          - if order.billing_address.present?
            = render order.billing_address
        - if order.shipping_address.present?
          %td= render order.shipping_address

  = render :partial => 'order_items', :locals => {:order => order}
