- if order.deferred?
  .effective-order-deferred
    %table.table
      %thead
        %tr
          %th Payment
      %tbody
        %tr
          %td
            - if order.delayed? && order.delayed_payment_provider?
              %p Your #{order.delayed_payment_method} will be charged on #{order.delayed_payment_date.strftime("%A, %B %d, %Y")}
            - else
              %p Waiting for payment by #{order.payment_provider}.

              - if order.payment_provider == "etransfer" && (EffectiveOrders.etransfer[:success] rescue false).present?
                %p= EffectiveOrders.etransfer[:success].html_safe

              - if order.payment_provider == "cheque" && (EffectiveOrders.cheque[:success] rescue false).present?
                %p= EffectiveOrders.cheque[:success].html_safe

              - if order.payment_provider == "phone" && (EffectiveOrders.phone[:success] rescue false).present?
                %p= EffectiveOrders.phone[:success].html_safe

