.effective-order-shipping
  %table.table
    %thead
      %tr
        %th= "#{order.purchased? ? 'Sold to' : 'Bill to'}"
        - if order.shipping_address.present? && !order.shipping_address.empty?
          %th Ship to

    %tbody
      %tr
        %td
          - if order.billing_address.present? && !order.billing_address.empty?
            = render :partial => 'effective/addresses/address', :locals => {:address => order.billing_address, :email => order.user.email}
          - else
            = order.billing_name
            %br
            = mail_to(order.user.email)
            %br

        - if order.shipping_address.present? && !order.shipping_address.empty?
          %td
            = render :partial => 'effective/addresses/address', :locals => {:address => order.shipping_address}
