- if orders.present?
  %table.table
    %thead
      %tr
        %th Order
        %th Buyer
        %th Date
        %th Description
        %th
    %tbody
      - orders.each do |order|
        %tr
          %td ##{order.to_param}
          %td
            = [order.organization, order.user].compact.join('<br>').html_safe
          %td
            = (order.purchased? ? 'Purchased' : 'Created')
            = (order.purchased_at || order.created_at).strftime("%F %H:%M")
          %td
            = order_summary(order)
          %td
            - if order.pending? || order.confirmed?
              = link_to_checkout(order: order)
            - else
              = link_to 'View', effective_orders.order_path(order)
- else
  %p No previous orders.
