- if order.deferred?
  .effective-order-deferred
    %table.table
      %thead
        %tr
          %th Payment method
      %tbody
        %tr
          %td
            - if order.total == 0
              Your total due is $0. Should your order total change, you will receive a new invoice, along with your payment details.

            - elsif order.delayed? && order.payment_provider == "deluxe_delayed"
              Your #{order.delayed_payment_method} will automatically be charged on #{order.delayed_payment_date.strftime("%A, %B %e, %Y")}.

            - else
              - if order.payment_provider == "etransfer" && (EffectiveOrders.etransfer[:success] rescue false).present?
                = EffectiveOrders.etransfer[:success].html_safe

              - if order.payment_provider == "cheque" && (EffectiveOrders.cheque[:success] rescue false).present?
                = EffectiveOrders.cheque[:success].html_safe

              - if order.payment_provider == "phone" && (EffectiveOrders.phone[:success] rescue false).present?
                = EffectiveOrders.phone[:success].html_safe

