.effective-order-shipping
  %table.table
    %thead
      %tr
        %th= "#{order.purchased? ? 'Sold to' : 'Bill to'}"
        - if order.shipping_address.present?
          %th Ship to

    %tbody
      %tr
        %td
          - unless EffectiveOrders.use_address_full_name
            = order.billing_name
            %br

          - if order.billing_address.present?
            = render :partial => 'effective/addresses/address',
              locals: { address: order.billing_address, email: order.user.email }

        - if order.shipping_address.present?
          %td
            = render :partial => 'effective/addresses/address', locals: { address: order.shipping_address }
