%h1.effective-heading= @page_title

%p.effective-orders-page-content
  = link_to 'Home', root_path

%p.effective-orders-page-content
  You have indicated that this order will be paid by #{@order.payment_provider}.
  Your order will not be considered purchased until we receive your payment.
  Please contact us at your earliest convenience.

= render @order

= link_to 'Continue', root_path, class: 'btn btn-primary'
