= render 'layout' do
  %h1.effective-heading= @page_title

  - if EffectiveResources.authorized?(self, :checkout, @order)
    = render_checkout(@order)
  - else
    = render(@order)

    %p.text-center
      = link_to 'Continue', effective_orders.orders_path, class: 'btn btn-primary'
