- deluxe = deluxe_hosted_payment_form_options(order)

.card
  .card-body
    %h2 Checkout

    .mt-4

    = effective_form_with(scope: :deluxe, url: effective_orders.deluxe_order_path(order), data: { 'deluxe-checkout': deluxe.to_json }) do |f|
      = f.hidden_field :purchased_url, value: purchased_url
      = f.hidden_field :declined_url, value: declined_url

      -# This is set by the deluxe.js javascript on Submit
      = f.hidden_field :payment_intent, required: true

      = render('effective/orders/deluxe/element')
