- deluxe = deluxe_hosted_payment_form_options(order)

.card
  .card-body
    %h2 Checkout

    .mt-4

    = effective_form_with(scope: :deluxe, url: effective_orders.deluxe_order_path(order), data: { 'deluxe-checkout': deluxe.to_json }) do |f|
      = f.hidden_field :purchased_url, value: purchased_url
      = f.hidden_field :declined_url, value: declined_url

      -# This is set by the deluxe.js javascript on Submit
      = f.hidden_field :payment_intent, required: true

      - if EffectiveOrders.deluxe[:environment] == 'sandbox'
        .alert.alert-info.mb-4
          This is the #{Rails.env.upcase} SERVER.
          %br
          Use credit card number 5555 5555 5555 4444 with any future expiry and any CVC.

      - if (restriction = EffectiveOrders.payment_restriction(:deluxe, order))
        .alert.alert-warning #{order_checkout_label(:deluxe)} #{restriction}
      - else
        = render('effective/orders/deluxe/element')
