.order-emails-header
  %h1= order_email.header

  -#- if order.purchased?
  -#  %p
  -#    %strong Thank you!

  - if order.declined?
    %p
      Please
      = link_to('checkout your order again', effective_orders.order_url(order))
      or contact us if the problem persists.

  - if (event = order_email.event).present?
    %h2= event.title
    %p= effective_events_event_schedule(event)

    - if event.rich_text_confirmation_email.present?
      %hr
      .event-rich-text= event.rich_text_confirmation_email.to_s.html_safe
