- if order.delayed? && order.deferred? && order.delayed_payment_date_upcoming? 
  %hr

  %p
    %strong Important

  - if order_email.event_all_waitlisted?
    %p
      Your tickets are currently on the waitlist. Should your registration request be accepted, you will receive an event confirmation email letting you know you should plan to attend, along with your payment details. Thank you for your interest – we look forward to seeing you at an event soon!

  - elsif order_email.event_some_waitlisted?
    %p
      Some of your tickets are currently on the waitlist. Should your waitlisted tickets be accepted, you will receive a new event confirmation email letting you know you of the update, along with your payment details. Thank you for your interest – we look forward to seeing you at an event soon!

  - elsif order.payment_provider == 'deluxe_delayed'
    %ul
      %li Your credit card will be charged on <strong>#{order.delayed_payment_date.strftime("%A, %B %e, %Y")}</strong>.
      %li Changes and cancellations must be made before this date.
      %li A receipt will be sent after the transaction is completed.

  - elsif order.payment_provider == 'cheque'
    %ul
      %li Please submit your cheque payment within 30 days of the invoice date.
      %li You have until payment is received or until <strong>#{order.delayed_payment_date.strftime("%A, %B %e, %Y")}</strong>, whichever is first, to make changes and cancellations.
      %li A receipt will be sent after payment has been received.

  - elsif order.payment_provider == 'phone'
    %ul
      %li Please phone us to submit payment by credit card within 30 days of the invoice date.
      %li You have until payment is received or until <strong>#{order.delayed_payment_date.strftime("%A, %B %e, %Y")}</strong>, whichever is first, to make changes and cancellations.
      %li A receipt will be sent after payment has been received.

  - elsif order.payment_provider == 'etransfer'
    %ul
      %li Please submit your e-transfer payment within 30 days of the invoice date.
      %li You have until payment is received or until <strong>#{order.delayed_payment_date.strftime("%A, %B %e, %Y")}</strong>, whichever is first, to make changes and cancellations.
      %li A receipt will be sent after payment has been received.

  - else
    - providers = EffectiveOrders.deferred_providers.to_sentence(last_word_connector: ', or', two_words_connector: ' or ')
    %ul
      - if providers.present?
        %li When we receive your #{providers} we will mark your order paid.
      %li You have until payment is received or until <strong>#{order.delayed_payment_date.strftime("%A, %B %e, %Y")}</strong>, whichever is first, to make changes and cancellations.
      %li A receipt will be sent after payment has been received.


- elsif order.deferred?
  %hr

  %p
    %strong Important

  - if order.payment_provider == 'deluxe_delayed'
    %ul
      %li Your credit card will be automatically charged.
      %li A receipt will be sent after the transaction is completed.
  - elsif order.payment_provider == 'cheque'
    %ul
      %li Please submit your cheque within 30 days of the invoice date.
      %li A receipt will be sent after payment has been received.
  - elsif order.payment_provider == 'phone'
    %ul
      %li Please phone us to submit payment within 30 days of the invoice date.
      %li A receipt will be sent after payment has been received.
  - elsif order.payment_provider == 'etransfer'
    %ul
      %li Please submit your e-transfer within 30 days of the invoice date.
      %li A receipt will be sent after payment has been received.
  - else
    - providers = EffectiveOrders.deferred_providers.to_sentence(last_word_connector: ', or', two_words_connector: ' or ')
    %ul
      - if providers.present?
        %li When we receive your #{providers} we will mark your order paid.
      %li A receipt will be sent after payment has been received.


- elsif order_email.payment_request?
  %hr

  %p
    %strong Important

  - providers = EffectiveOrders.deferred_providers.to_sentence(last_word_connector: ', and', two_words_connector: ', and ')
  %ul
    %li Please #{link_to('click here', effective_orders.order_url(@order))} to review your order and pay online.
    - if providers.present?
      %li We accept credit card, #{providers}.
    %li A receipt will be sent after payment has been received.

%hr
