= javascript_include_tag 'https://checkout.stripe.com/checkout.js'

= simple_form_for(customer, (EffectiveOrders.simple_form_options || {}).merge(url: effective_orders.customer_settings_path)) do |f|
  = f.input :stripe_token, as: :hidden, input_html: { value: nil }

  = render(f.object) do
    - if f.object.customer.persisted?
      %h3.effective-heading Card
      = effective_customer_fields(f.object)

  .form-actions
    = f.button :submit, 'Save', data: { disable_with: 'Saving...' }


