= javascript_include_tag 'https://checkout.stripe.com/checkout.js'

= effective_form_with(model: subscripter, url: effective_orders.customer_settings_path, method: :put) do |f|
  = f.hidden_field :stripe_token, value: nil

  = render(f.object.customer) do
    %h3.effective-heading Card
    = effective_customer_fields(f)

  = f.submit


