= form_tag(EffectiveOrders.paypal[:paypal_url], :method => 'post') do
  = hidden_field_tag :cmd, '_s-xclick'
  = hidden_field_tag :encrypted, paypal_encrypted_payload(order)

  = submit_tag order_checkout_label(:paypal), :class => 'btn btn-primary', :data => {'disable_with' => 'Continuing...' }
  - if EffectiveOrders.allow_pay_via_invoice
    = pay_via_invoice_link order, :class => 'btn btn-primary'
