%h2.effective-orders-page-title New Subscription

- if @plans.present?
  = simple_form_for(@subscription, (EffectiveOrders.simple_form_options || {}).merge(:url => effective_orders.subscriptions_path, :method => :post)) do |f|
    = f.input :stripe_plan_id, :as => :select, :collection => stripe_plans_collection(@plans), :include_blank => false, :label => 'Plan'
    = f.input :stripe_coupon_id, :placeholder => 'Coupon Code', :label => 'Coupon'
    = f.submit 'Add to Cart', :class => 'btn btn-primary'
- else
  %p No available Subscriptions
  %p= link_to 'Home', root_url
