%h1.effective-heading= @page_title

- if @current_plans.present?
  %p You are on the following plan#{'s' if @current_plans.length > 1 }:
  %ul
    - @current_plans.each do |plan|
      %li
        = plan.name
        = link_to 'View', effective_orders.subscription_path(plan.id)

= simple_form_for(@subscription, (EffectiveOrders.simple_form_options || {}).merge(url: effective_orders.subscriptions_path, method: :post)) do |f|
  = f.input_field :stripe_plan_id, as: :hidden

  .row.effective-orders-stripe-plans
    - @plans.each do |plan|
      .col-sm-6.col-md-3
        .panel.panel-default.panel-effective-orders-stripe-plan{class: ('panel-primary' if f.object.stripe_plan_id == plan.id)}
          = f.input_field :stripe_plan_id, type: :radio, value: plan.id, selected: (f.object.stripe_plan_id == plan.id), required: false

          .panel-heading.text-center
            %h3= plan.name
            %p= stripe_plan_description(plan)
          .panel-body
            = effective_region "stripe_plan_#{plan.id}" do
              %p Whats included in #{plan.name}

            .visible-when-unselected.text-center
              = link_to 'Select', '#', class: 'btn btn-default'

            .visible-when-selected.text-center
              = effective_region "stripe_plan_#{plan.id}_selected" do
                %p This is a great plan

  - if f.object.errors[:stripe_plan_id].present?
    .form-group.has-error
      %p.help-block Please select a plan

  .row
    .col-sm-4.col-sm-offset-4.text-center
      = f.input :has_coupon, as: :boolean, label: 'Yes, I have a coupon code'

      .coupon{style: ('display: none;' unless f.object.has_coupon)}
        = f.input :stripe_coupon_id, placeholder: 'Coupon Code', label: false

      = f.submit 'Purchase Selected Plan', class: 'btn btn-primary'
