= javascript_include_tag 'https://checkout.stripe.com/checkout.js'

= effective_form_with(model: subscripter, url: effective_orders.subscripter_path, remote: true, data: { stripe: subscripter_stripe_data(subscripter) }) do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :subscribable_global_id
  = f.hidden_field :stripe_token, value: nil
  = f.error :stripe_token

  = f.radios :stripe_plan_id, stripe_plans_collection(f), inline: false, cards: false, label: false, required: true

  = f.submit 'Choose Plan', center: true, border: false, class: ('effective-orders-stripe-token-required' if f.object.token_required?)
