= javascript_include_tag 'https://checkout.stripe.com/checkout.js'

= effective_form_with(model: subscripter, url: effective_orders.subscripter_path, remote: true, data: { stripe: subscripter_stripe_data(subscripter) }) do |f|
  = f.hidden_field :subscribable_global_id
  = f.hidden_field :stripe_token, value: nil
  = f.error :stripe_token

  = f.hidden_field :stripe_plan_id

  - stripe_plans = stripe_plans_collection(f.object)
  - stripe_plans = stripe_plans.select { |plan| plan[:name].include?('per User') }
  - quantity_used = f.object.subscribable.subscribable_quantity_used.to_i

  - f.object.stripe_plan_id ||= stripe_plans.first[:id]

  - if f.object.subscribable.subscribed?
    .text-center
      %p You currently have <strong>#{quantity_used} people</strong> in your account. You can update your account below.
      %p To pay for less than <strong>#{quantity_used} people</strong> you'll have to archive some first

  .card.mb-4
    .card-body.text-center
      %h5.card-title Billing Cycle

      = f.radios :stripe_plan_id, stripe_plans.map { |plan| [plan[:name], plan[:id]] }, label: false, buttons: true

      %hr

      - stripe_plans.select { |plan| plan[:interval] == 'month' }.each do |plan|
        = f.show_if(:stripe_plan_id, plan[:id]) do
          .effective-orders-stripe-plan{'data-id': plan[:id], 'data-amount': plan[:amount], 'data-interval': plan[:interval]}
            .d-flex.justify-content-around.align-items-center
              = f.number_field :quantity, class: 'effective-orders-subscripter-plan-quantity form-control-lg', autocomplete: 'off', required: true
              %div= 'x'
              = f.static_field :price_per_person do
                = price_to_currency(plan[:amount])
              %div= '='
              = f.static_field :total_amount do
                = price_to_currency(plan[:amount] * f.object.quantity.to_i)

      - stripe_plans.select { |plan| plan[:interval] == 'year' }.each do |plan|
        = f.show_if(:stripe_plan_id, plan[:id]) do
          .effective-orders-stripe-plan{'data-id': plan[:id], 'data-amount': plan[:amount], 'data-interval': plan[:interval]}
            .d-flex.justify-content-around.align-items-center
              = f.number_field :quantity, class: 'effective-orders-subscripter-plan-quantity form-control-lg', autocomplete: 'off', required: true
              %div= 'x'
              = f.static_field :price_per_person do
                = price_to_currency(plan[:amount] / 12)
              %div= '='
              = f.static_field :total_amount do
                = price_to_currency(plan[:amount] * f.object.quantity.to_i)

  = f.submit(border: false, center: true) do
    = f.save('Update Plan', class: ('effective-orders-stripe-token-required' if f.object.token_required?))
