%p.effective-orders-receipt-info= @subject

%table.table
  %thead
    %tr
      %th Item
      %th Price
  %tbody
    - @order_items.each do |item|
      %tr
        %td
          - if item.quantity > 1
            = "#{item.quantity}x "
          = item.title
        %td= price_to_currency(item.subtotal)
  %tfoot
    %tr
      %th Subtotal
      %td= price_to_currency(@order_items.map { |oi| oi.subtotal }.sum)
    %tr
      %th Tax
      %td= price_to_currency(@order_items.map { |oi| oi.tax }.sum)
    %tr
      %th Total
      %td= price_to_currency(@order_items.map { |oi| oi.total }.sum)
