= form_tag('https://bill.ccbill.com/jpost/signup.cgi', :method => :post) do
  = hidden_field_tag(:clientAccnum, EffectiveOrders.ccbill[:client_accnum])
  = hidden_field_tag(:clientSubacc, EffectiveOrders.ccbill[:client_subacc])
  = hidden_field_tag(:formName, EffectiveOrders.ccbill[:form_name])
  = hidden_field_tag(:formPrice, ccbill_price(order.total))
  = hidden_field_tag(:formPeriod, EffectiveOrders.ccbill[:form_period])
  = hidden_field_tag(:currencyCode, EffectiveOrders.ccbill[:currency_code])
  = hidden_field_tag(:formDigest, ccbill_form_digest(order))

  -# CCBill 'Webhooks' (pre-filled form data)
  = hidden_field_tag(:customer_fname, ccbill_customer_name(order, :first_name))
  = hidden_field_tag(:customer_lname, ccbill_customer_name(order, :last_name))
  = hidden_field_tag(:email, order.user.try(:email))
  = hidden_field_tag(:address1, order.billing_address.try(:address1))
  = hidden_field_tag(:city, order.billing_address.try(:city))
  = hidden_field_tag(:state, order.billing_address.try(:state_code))
  = hidden_field_tag(:zipcode, order.billing_address.try(:postal_code))
  = hidden_field_tag(:country, order.billing_address.try(:country_code))

  -# custom fields
  = hidden_field_tag(:order_id, order.to_param)

  = submit_tag order_checkout_label(:ccbill), class: 'btn btn-primary', data: { disable_with: 'Continuing...' }

